.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border-radius: 10px;
  padding: 12px 37px;
  cursor: pointer;
  height: 48px;
  position: relative;
  width: max-content;

  &.loading{
    .text{
      opacity: 0;
    }
  }

  span{
    font-weight: 500 !important;
  }


  &.solid{
    color: #FFFFFF;
    background: var(--blue_500);
    border: 2px solid transparent;
  }

  &.outline{
    color: var(--blue_500);
    border: 2px solid var(--blue_500);
    background: none;
  }

  &.light{
    background: #F3F3F3;
    color: var(--gray_900);
  }

  &.clear{
    padding: 0;
    width: max-content;
    height: max-content;
    border-bottom: 1.5px solid transparent;
    color: var(--blue_500);
    border-radius: 0;
    &:hover{
      border-bottom: 1.5px dashed var(--blue_500);
    }
    span{

    }

    &.btn{
      border: none;
      gap: 5px;
      svg{
        transition: all .2s;
      }
      &:hover{
        svg{
          transform: translateX(10px);
        }
      }
    }
  }

  &:disabled{
    pointer-events: none;
    background: var(--blue_200);
  }

  &.disabled{
    pointer-events: none;
    background: var(--blue_200);
  }

  .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.filled{
    background: transparent ;
    border: 1px solid var(--gray_100);
    color: var(--gray_300);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px ;

    svg{
      path{
        stroke: var(--gray_300);
      }
    }
  }



  &.full{
    width: 100%;
  }

  &.size12{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }
  &.size14{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  &.size16{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  &.size18{
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
  }
  &.size22{
    font-weight: 700;
    font-size: 22px;
    line-height: 133%;
  }

  &.fw300{
    font-weight: 300;
  }
  &.fw400{
    font-weight: 400;
  }
  &.fw500{
    font-weight: 500;
  }
  &.fw700{
    font-weight: 700;
  }

  &.value{
    .defaultValue{
      position: absolute;
      top: -8px;
      left: 15px;
      font-size: 12px;
      display: flex;
      gap: 5px;

      >span{
        color: red;
      }
    }
  }

}