
.accordion{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid var(--gray_100);
  margin-bottom: 30px;
  padding-top: 30px;

  &:first-child{
    border: none;
    padding-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.trigger{
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;

  .iconIsOpen{
    transform: rotate(-180deg);
  }
}

.transition{
}

.menu{
  padding-top: 20px;
}